flows.json
[{"id":"b4a0d42c.761918","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"8e02aa4f.c8be08","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c34be7dc.4ad738","type":"ui_tab","z":"","name":"Registration page","icon":"dashboard","disabled":false,"hidden":false},{"id":"1a64bc33.8ee634","type":"ui_group","z":"","name":"Reg form","tab":"c34be7dc.4ad738","order":1,"disp":true,"width":"6","collapse":false},{"id":"9040d52b.c146c8","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"3d1ce281.ff11be","type":"ui_group","z":"","name":"Login","tab":"9040d52b.c146c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"592318cb.772c68","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"70f13d50.30d754","type":"ui_group","z":"","name":"Reg form","tab":"592318cb.772c68","order":1,"disp":true,"width":"6","collapse":false},{"id":"8838c944.4db798","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"21efdfb3.2ac01","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f61f52bf.9a02","type":"ui_group","z":"","name":"Default","tab":"21efdfb3.2ac01","order":1,"disp":true,"width":"6","collapse":false},{"id":"378ab9c1.bd3356","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"5b413d36.4e2bd4","type":"ui_group","z":"","name":"Login form","tab":"378ab9c1.bd3356","order":1,"disp":true,"width":"6","collapse":false},{"id":"f4bb9d30.eba3c","type":"ui_tab","z":"","name":"Second page","icon":"dashboard","disabled":false,"hidden":false},{"id":"a0532c1f.b3648","type":"ui_group","z":"","name":"Second form","tab":"f4bb9d30.eba3c","order":1,"disp":true,"width":"6","collapse":false},{"id":"6ba53560.93cf9c","type":"ui_tab","z":"","name":"Customer Help","icon":"dashboard","disabled":false,"hidden":false},{"id":"f50b293.a5c8bd8","type":"ui_group","z":"","name":"Bot","tab":"6ba53560.93cf9c","order":1,"disp":true,"width":"6","collapse":false},{"id":"e9c6ae0a.9e5dc","type":"ui_form","z":"b4a0d42c.761918","name":"","label":"","group":"1a64bc33.8ee634","order":0,"width":0,"height":0,"options":[{"label":"Enter name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":180,"y":120,"wires":[["d1570849.fde978","24a5b384.7e3f7c"]]},{"id":"d1570849.fde978","type":"debug","z":"b4a0d42c.761918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":140,"wires":[]},{"id":"24a5b384.7e3f7c","type":"function","z":"b4a0d42c.761918","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Email:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":220,"wires":[["1af8f316.f3929d"]]},{"id":"1af8f316.f3929d","type":"cloudant out","z":"b4a0d42c.761918","name":"cloudant","cloudant":"","database":"sample","service":"node-red-lkqqc-2020--cloudant-1597403896689-87120","payonly":true,"operation":"insert","x":530,"y":220,"wires":[]},{"id":"fba2e38b.fe545","type":"ui_form","z":"b4a0d42c.761918","name":"","label":"","group":"3d1ce281.ff11be","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":180,"y":360,"wires":[["f7497378.d35f4"]]},{"id":"f7497378.d35f4","type":"function","z":"b4a0d42c.761918","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":360,"wires":[["79e05d7a.477364"]]},{"id":"79e05d7a.477364","type":"function","z":"b4a0d42c.761918","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":360,"wires":[["a7452ca3.0f27e"]]},{"id":"a7452ca3.0f27e","type":"cloudant in","z":"b4a0d42c.761918","name":"","cloudant":"","database":"sample","service":"node-red-lkqqc-2020--cloudant-1597403896689-87120","search":"_idx_","design":"user","index":"user","x":720,"y":360,"wires":[["46aeb633.226a98"]]},{"id":"24f33599.d2a67a","type":"debug","z":"b4a0d42c.761918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":500,"wires":[]},{"id":"46aeb633.226a98","type":"function","z":"b4a0d42c.761918","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login successful !';\n}\nelse{\n    msg.payload='Login failed ';\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":360,"wires":[["24f33599.d2a67a"]]},{"id":"67c61666.f55408","type":"ui_form","z":"8e02aa4f.c8be08","name":"","label":"","group":"70f13d50.30d754","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":160,"y":220,"wires":[["595ae73e.462238","f1f2819e.eaecb"]]},{"id":"595ae73e.462238","type":"debug","z":"8e02aa4f.c8be08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":80,"wires":[]},{"id":"f1f2819e.eaecb","type":"function","z":"8e02aa4f.c8be08","name":"","func":"msg.payload={\n    id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":220,"wires":[["3563c13c.62841e"]]},{"id":"3563c13c.62841e","type":"cloudant out","z":"8e02aa4f.c8be08","name":"cloudant","cloudant":"","database":"sample","service":"node-red-qzzue-2020--cloudant-1597405130697-38326","payonly":true,"operation":"insert","x":570,"y":220,"wires":[]},{"id":"81f97e8b.4ebf5","type":"ui_form","z":"8e02aa4f.c8be08","name":"","label":"","group":"a0532c1f.b3648","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":380,"wires":[["f61e1285.13d0a"]]},{"id":"f61e1285.13d0a","type":"function","z":"8e02aa4f.c8be08","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":380,"wires":[["18630edf.f04f21"]]},{"id":"18630edf.f04f21","type":"function","z":"8e02aa4f.c8be08","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":380,"wires":[["c481fc56.34ac6"]]},{"id":"c481fc56.34ac6","type":"cloudant in","z":"8e02aa4f.c8be08","name":"","cloudant":"","database":"sample","service":"node-red-lkqqc-2020--cloudant-1597403896689-87120","search":"_idx_","design":"user","index":"user","x":690,"y":380,"wires":[["3bd65fcf.2dafa"]]},{"id":"3bd65fcf.2dafa","type":"function","z":"8e02aa4f.c8be08","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Succesfull';\n    \n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":380,"wires":[["dcf3d8e2.8d10e8"]]},{"id":"dcf3d8e2.8d10e8","type":"ui_text","z":"8e02aa4f.c8be08","group":"a0532c1f.b3648","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1010,"y":380,"wires":[]},{"id":"7af0d0de.7f6ac","type":"ui_form","z":"8e02aa4f.c8be08","name":"","label":"","group":"f50b293.a5c8bd8","order":0,"width":0,"height":0,"options":[{"label":"User input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":540,"wires":[["15dd10cd.71374f"]]},{"id":"15dd10cd.71374f","type":"function","z":"8e02aa4f.c8be08","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":540,"wires":[["971009fc.5cff18"]]},{"id":"971009fc.5cff18","type":"watson-conversation-v1","z":"8e02aa4f.c8be08","name":"","workspaceid":"449439a9-273f-40e0-89c7-3f6ceaf284be","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/841bf36c-c03f-41f2-803f-3b9b04b3f83c","timeout":"","optout-learning":false,"x":490,"y":540,"wires":[["1a96b54b.40adab","394b0fdd.8a541"]]},{"id":"bc480ebb.e5471","type":"ui_text","z":"8e02aa4f.c8be08","group":"f50b293.a5c8bd8","order":1,"width":0,"height":0,"name":"","label":"Bot response","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":580,"wires":[]},{"id":"1a96b54b.40adab","type":"debug","z":"8e02aa4f.c8be08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":500,"wires":[]},{"id":"394b0fdd.8a541","type":"function","z":"8e02aa4f.c8be08","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":580,"wires":[["bc480ebb.e5471","a4396c01.66215"]]},{"id":"a4396c01.66215","type":"ui_audio","z":"8e02aa4f.c8be08","name":"","group":"f50b293.a5c8bd8","voice":"","always":"","x":870,"y":640,"wires":[]}]